body {
    font-family : Verdana;
    font-size : 11pt;
}

.error {
    font-family : Arial;
    font-size : 12pt;
    font-weight : bold;
    color : red; 
}

.banner {
    color : white;
    background-color : red;
    font-size : 30pt;
    letter-spacing : 5pt;
    font-family : Arial;
    font-weight : bold; 
}

.menu {
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    background-color: darkgray;
    font-size: 12pt;
    font-family: Verdana;
    font-weight: bold;
}